
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;500&display=swap');

body{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}
